REDIS_PASSWORD=radar
REDIS_DATA_PATH=/usr/local/var/lib/redis
GOOGLE_CREDENTIALS_FILE_PATH=
ENABLE_HTTPS=yes
SERVER_NAME=
SELF_SIGNED_CERT=no
NGINX_PROXIES=
KAFKA_SSL_TRUSTSTORE_LOCATION=
KAFKA_BOOTSTRAP_SERVERS=
ZOOKEEPER=
MAINTAINER_EMAIL=
PUSH_ENDPOINT_URL=